# Environment settings for CasusToetsCopy

# Set the base project folder. This id the folder where the base repository of
# the casustoets application is stored
ProjectFolder="C:\code\laravel\project-folder"


# Set StudentsBaseFolder to the folder where all student repositories are 
# stored
StudentsBaseFolder="C:\path\to\student-base-folder"


# Here, the files and folders relative from the root folder that must be copied 
# are set. This is an array of names delimited by a space
Files="README.md app database resources routes public"

# The generic part of the URL to students Github repositories
# Most of the time it's something like: 
# https://github.com/HZ-HBO-ICT/classroom-url-student-account-name
# The value of this variable should then be:
# GithubBaseURL=https://github.com/HZ-HBO-ICT/classroom-url-
# NOTE: do not forget the minus sign at the end
GithubBaseURL=https://github.com/HZ-HBO-ICT/classroom-url-student-

# Name of the branch to be pulled
# This used to be master, but Github changed it to main. So, we are in the middle
# of a transition period here
Branch=master